nav.navbar,section#mantras-head,section#section-navbar,main,section#after-mantras,footer{
    background-color: black;
}
a.nav-link{
    color: red;
}
ul li .dropdown-item:hover{
    background-color: red;
}
section#mantras-head{
    height: 100VH;
}
section#section-navbar{
    position: fixed;
    top: 0px;
    width: 100%;
}
#mantras-head-img,#mantras-head-title{
    display: grid;
    place-items: center;
}
.mantras-item{
    color: white;
}
@media (max-width: 1024px) {
    li{
        font-size: 4vw;
    }
    #mantras-list{
    padding: 5.5vw;
    }
}