@media (max-width: 1024px) {
    .first-box,.second-box{
        width: 65VW;
    }
    p,ul,.commenter,.competitions-item-head,.buttons button,.original a,.dropdown-center button{
    font-size: 4vw;
    }
    h2 span{
        font-size:8vw;
    }
    li a{
        font-size: 3.5vw;
    }
    .carousel-indicators button{
        top: 5.7vw;
    }
    .carousel-caption{
        display: none;
    }
}
#carouselExampleCaptions .carousel-indicators button{
    background-color: red;
}