nav.navbar,main,section#competitions-head,footer{
    background-color: black;
}
a.nav-link{
    color: red;
}
ul li .dropdown-item:hover{
    background-color: red;
}
section#section-navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
}
section#competitions-head{
    height: 100VH;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 span{
    text-shadow: 0 0 5px black;
}
.drop-last{
    height: 10VH;
    overflow-y: scroll;
}